raw_data/
modeling/data
downloaded_images/
data_processing/tests/test_output/
stop_signal.txt
mac_inference/images
pi_inference/data
modeling/configs
data_processing/queries/

*.pth
*.pt
*.mlpackage
*.ckpt
*.json
*.env
*.csv
*.pyc
*.zshrc

wandb/
**/wandb/