raw_data/
modeling/data
downloaded_images/
data_processing/tests/test_output/
data_processing/metadata.csv
stop_signal.txt
mac_inference/images
pi_inference/data

*.pth
*.pt
*.mlpackage
*.ckpt
*.json
*.env
*.csv


wandb/
**/wandb/